In [1]:
import pandas as pd
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',100)
import sqlite3
print('complete...')

complete...

In [2]:
try:
  conn = sqlite3.connect('pizza.db')
except Exception as e:
  print(str(e))
else:
  c = conn.cursor()

In [3]:
runners_df = pd.read_sql('SELECT * FROM customer_orders;', conn)

In [4]:
runners_df

    order_id  customer_id  pizza_id exclusions extras           order_time
0          1          101         1                    2020-01-01 18:05:02
1          2          101         1                    2020-01-01 19:00:52
2          3          102         1                    2020-01-02 23:51:23
3          3          102         2              None  2020-01-02 23:51:23
4          4          103         1          4         2020-01-04 13:23:46
5          4          103         1          4         2020-01-04 13:23:46
6          4          103         2          4         2020-01-04 13:23:46
7          5          104         1       null      1  2020-01-08 21:00:29
8          6          101         2       null   null  2020-01-08 21:03:13
9          7          105         2       null      1  2020-01-08 21:20:29
10         8          102         1       null   null  2020-01-09 23:54:33
11         9          103         1          4   1, 5  2020-01-10 11:22:59
12        10          104         1       null   null  2020-01-11 18:34:49
13        10          104         1       2, 6   1, 4  2020-01-11 18:34:49

In [5]:
c.execute('''
DROP TABLE IF EXISTS customer_orders_temp;
''')

c.execute('''
CREATE TABLE customer_orders_temp AS
  SELECT
    order_id,
    customer_id,
    pizza_id,
    exclusions,

    CASE
      WHEN extras = 'null' OR extras is null THEN ''
      ELSE extras
    END AS extras,

    order_time

FROM customer_orders;
 ''')