*Mexico population analytics*

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('DP_LIVE_25082023214815589.csv')

In [10]:
data.columns

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    222 non-null    object
 1   INDICATOR   222 non-null    object
 2   SUBJECT     222 non-null    object
 3   MEASURE     222 non-null    object
 4   FREQUENCY   222 non-null    object
 5   TIME        222 non-null    int64
 6   Value       222 non-null    float64
 7   Flag Codes  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 14.0+ KB

In [12]:
data.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS       POP     TOT  MLN_PER         A  2018  24.982688         NaN
1      AUS       POP     TOT  MLN_PER         A  2019  25.365745         NaN
2      AUS       POP     TOT  MLN_PER         A  2020  25.693267         NaN
3      AUS       POP     TOT  MLN_PER         A  2021  25.738142         NaN
4      AUT       POP     TOT  MLN_PER         A  2018   8.837707         NaN

In [13]:
data['LOCATION'].value_counts()

LOCATION
AUS     4
OECD    4
USA     4
BRA     4
CHL     4
COL     4
EST     4
ISR     4
SVN     4
CHN     4
IND     4
IDN     4
ZAF     4
LVA     4
TUR     4
ARG     4
BGR     4
CRI     4
HRV     4
CYP     4
LTU     4
MLT     4
ROU     4
SAU     4
SGP     4
WLD     4
AUT     4
GBR     4
CHE     4
SWE     4
BEL     4
CAN     4
CZE     4
DNK     4
FIN     4
FRA     4
DEU     4
GRC     4
HUN     4
ISL     4
IRL     4
ITA     4
JPN     4
KOR     4
LUX     4
MEX     4
NLD     4
NZL     4
NOR     4
POL     4
PRT     4
SVK     4
ESP     4
EU27    4
RUS     3
G20     3
Name: count, dtype: int64

In [14]:
data['INDICATOR'].value_counts()

INDICATOR
POP    222
Name: count, dtype: int64

In [15]:
data['SUBJECT'].value_counts()

SUBJECT
TOT    222
Name: count, dtype: int64

In [16]:
data['MEASURE'].value_counts()

MEASURE
MLN_PER    222
Name: count, dtype: int64

In [17]:
data['FREQUENCY'].value_counts()

FREQUENCY
A    222
Name: count, dtype: int64

In [18]:
data['TIME'].value_counts()

TIME
2018    56
2019    56
2020    56
2021    54
Name: count, dtype: int64