#Connect To Google drive

In [ ]:
from google.colab import drive

drive.mount("/content/gdrive")
!pwd

Move to folder

In [ ]:
# put your own path in google drive
%cd "/content/gdrive/MyDrive/Colab Notebooks/AI/MachineLearning/Files"
!ls

# Load Dataset

dataframe (df) is the object where pandas stores the data, each colum is actualy a hash containing the name of the column a as a key and the array of values as the value for the key

In [2]:
import pandas as pd

# The file has no names for columns.
columns = ["sepal length","sepal width","petal length","petal width", "class"]
df = pd.read_csv('iris.data',names = columns)
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

# get a single column you wish

In [4]:
df["sepal length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

# get many columns

In [5]:
df[["sepal length","sepal width"]].head()

   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

# separate data and class

In [6]:
df_x = df[["sepal length","sepal width","petal length","petal width"]]
df_y = df[["class"]]
df_x.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
df_y.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

# make new columns with indicators

In [8]:
df_x["sepal proportion"] = df_x["sepal width"]/df_x["sepal length"]
df_x["petal proportion"] = df_x["petal width"]/df_x["petal length"]
df_x.head()

,sepal length,sepal width,petal length,petal width,sepal proportion,petal proportion
0,5.1,3.5,1.4,0.2,0.686275,0.142857
1,4.9,3.0,1.4,0.2,0.612245,0.142857
2,4.7,3.2,1.3,0.2,0.680851,0.153846
3,4.6,3.1,1.5,0.2,0.673913,0.133333
4,5.0,3.6,1.4,0.2,0.720000,0.142857

# Download information

In [ ]:
from google.colab import files
with open('example.txt', 'w') as f:
  f.write('some content')
files.download('example.txt')

In [3]:
import numpy as np

def euclidean_distance(point1, point2):
    return np.sqrt(np.sum((point1 - point2)**2))

In [9]:
euclidean_distance(np.array([161,63]),np.array([165,61]))

4.47213595499958