<a href="https://colab.research.google.com/github/jmvazqueznicolas/AI_and_DS_Tec2023/blob/main/ETL_Transformation_Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL: Transformation and Load
Clase 10 Agosto 2023 - Profesor: Jesús Manuel Vázquez Nicolás, PhD

## Extract the dataset

In [11]:
# Import libraries
import pandas as pd
import numpy as np

# Adjust the maximum number of rows to display.
pd.set_option('display.max_rows', 100)

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

# Extract dataset
adult_data = pd.read_csv(url, names=column_names, sep="\s*,\s*", engine='python')
adult_data.head(10)
adult_data.count() # slow implementation to count the number of rows

age               32561
workclass         32561
fnlwgt            32561
education         32561
education-num     32561
marital-status    32561
occupation        32561
relationship      32561
race              32561
sex               32561
capital-gain      32561
capital-loss      32561
hours-per-week    32561
native-country    32561
income            32561
dtype: int64

# Data cleaning: Deletion

In [20]:
# Check missing values (in this dataset, missing values are marked with '?').
missing_values = adult_data == '?'

num_missing_per_row = missing_values.sum(axis=1)

# Set a limit for the maximum number of missing values per row.
threshold = 1

# Filter the DataFrame to keep only those rows that have 'threshold' or fewer missing values.
df_cleaned = adult_data[num_missing_per_row <= threshold]

print(f"Before cleaning: {adult_data.shape[0]} filas")
print(f"After cleaning: {df_cleaned.shape[0]} filas")

Before cleaning: 32561 filas
After cleaning: 30725 filas

In [18]:
# Sustituímos el índice original por uno regenerado
df_final = df_cleaned.reset_index(drop=True)
df_final.tail(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
30720,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30721,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30722,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30723,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30724,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Data cleaning: Imputation

In [30]:
from sklearn.impute import SimpleImputer

# Replace ? values for NaN
df_final.replace("?", np.nan, inplace=True)
df_final.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [34]:
# Impute missing values for categorical variables.
imputer_categorical = SimpleImputer(strategy='most_frequent')
for col in ['workclass', 'occupation', 'native-country']:
    df_final[col] = imputer_categorical.fit_transform(df_final[col].values.reshape(-1, 1))

# Impute missing values for numerical variables (if any)
imputer_numerical = SimpleImputer(strategy='mean')
for col in ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']:
    df_final[col] = imputer_numerical.fit_transform(df_final[col].values.reshape(-1, 1))

ValueError: 2

In [35]:
df_final.head(30)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K

# Data Encoding

In [43]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le = LabelEncoder()

# Apply the encoding to the column 'income'
df_final['income_encoded'] = le.fit_transform(df_final['income'])

# To verify the changes.
print(df_final[['income', 'income_encoded']].head(100))

   income  income_encoded
0   <=50K               0
1   <=50K               0
2   <=50K               0
3   <=50K               0
4   <=50K               0
5   <=50K               0
6   <=50K               0
7    >50K               1
8    >50K               1
9    >50K               1
10   >50K               1
11   >50K               1
12  <=50K               0
13  <=50K               0
14   >50K               1
15  <=50K               0
16  <=50K               0
17  <=50K               0
18  <=50K               0
19   >50K               1
20   >50K               1
21  <=50K               0
22  <=50K               0
23  <=50K               0
24  <=50K               0
25   >50K               1
26  <=50K               0
27  <=50K               0
28  <=50K               0
29  <=50K               0
30  <=50K               0
31  <=50K               0
32  <=50K               0
33  <=50K               0
34  <=50K               0
35  <=50K               0
36  <=50K               0
37   >50K               1
38  <=50K               0
39  <=50K               0
40  <=50K               0
41  <=50K               0
42  <=50K               0
43  <=50K               0
44   >50K               1
45  <=50K               0
46  <=50K               0
47  <=50K               0
48  <=50K               0
49  <=50K               0
50  <=50K               0
51   >50K               1
52   >50K               1
53  <=50K               0
54   >50K               1
55  <=50K               0
56  <=50K               0
57  <=50K               0
58  <=50K               0
59  <=50K               0
60  <=50K               0
61   >50K               1
62  <=50K               0
63  <=50K               0
64  <=50K               0
65   >50K               1
66   >50K               1
67  <=50K               0
68  <=50K               0
69   >50K               1
70  <=50K               0
71  <=50K               0
72  <=50K               0
73  <=50K               0
74  <=50K               0
75  <=50K               0
76  <=50K               0
77  <=50K               0
78  <=50K               0
79  <=50K               0
80   >50K               1
81  <=50K               0
82   >50K               1
83  <=50K               0
84  <=50K               0
85   >50K               1
86  <=50K               0
87  <=50K               0
88  <=50K               0
89  <=50K               0
90   >50K               1
91  <=50K               0
92   >50K               1
93   >50K               1
94  <=50K               0
95  <=50K               0
96   >50K               1
97   >50K               1
98  <=50K               0
99  <=50K               0

In [45]:
# Rename the column
df_income = df_final.drop(columns=['income'])
df_encoding = df_income.rename(columns={'income_encoded': 'income'})
df_encoding.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

# Data normalization

In [48]:
# Importing the necessary libraries.
import matplotlib as plt
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

# Loading the wine dataset
wine = datasets.load_wine()
df = pd.DataFrame(data=wine.data, columns=wine.feature_names)

# Showing dataset first columns.
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [49]:
# Histogram of a feature to visualize the original distribution.
plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
plt.hist(df['alcohol'], color='blue', bins=30)
plt.title('Distribución original de Alcohol')

# Normalizing the features.
scaler = StandardScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# Histogram of the same feature after normalization.
plt.subplot(1, 2, 2)
plt.hist(df_normalized['alcohol'], color='green', bins=30)
plt.title('Distribución de Alcohol después de la Normalización')
plt.tight_layout()
plt.show()

AttributeError: module 'matplotlib' has no attribute 'figure'

In [ ]:
# Displaying the first rows of the normalized dataset
df_normalized.head()

# Data discretization

In [50]:
# Loading the wine dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
column_names = ["Class", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash",
                "Magnesium", "Total phenols", "Flavanoids",
                "Nonflavanoid phenols", "Proanthocyanins", "Color intensity",
                "Hue", "OD280/OD315 of diluted wines", "Proline"]
wine_data = pd.read_csv(url, header=None, names=column_names)

# Defining the boundaries for the categories.
bins = [wine_data['Alcohol'].min(), 12, 13, wine_data['Alcohol'].max()]

# Labels for the categories.
labels = ["low", "medium", "high"]

# Creating the new column with the discretized categories.
wine_data['Alcohol_category'] = pd.cut(wine_data['Alcohol'], bins=bins, labels=labels, include_lowest=True)

In [51]:
wine_data.head(5)

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol_category
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,high
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,high
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,high
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,high
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,high

# Feature engineering

In [ ]:
# Color intensity-alcohol ratio
wine_data['Color_to_alcohol_ratio'] = 'mangesium' / 
wine_data.head(30)

In [ ]:
# Magnesio-alcohol ratio
wine_data['Mg_to_Alcohol_ratio'] = _____ / _____
wine_data.head(30)

# Load

In [ ]:
# Installation and importation of necessary libraries
import ______

# Creating a connection to an SQLite database and loading data
conn = sqlite3._____('demo_etl.db')

# Load the dataframe into a new table called 'Personas'.
wine_data._____('Wines', conn, if_exists='replace', index=False)

# Query the database to verify that the data has been loaded correctly.
consulta = pd._____('SELECT * FROM Wines', conn)
consulta