<a href="https://colab.research.google.com/github/jmvazqueznicolas/AI_and_DS_Tec2023/blob/main/ETL_Transformation_Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL: Transformation and Load
Clase 10 Agosto 2023 - Profesor: Jesús Manuel Vázquez Nicolás, PhD

## Extract the dataset

In [11]:
# Import libraries
import pandas as pd
import numpy as np

# Adjust the maximum number of rows to display.
pd.set_option('display.max_rows', 100)

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

# Extract dataset
adult_data = pd.read_csv(url, names=column_names, sep="\s*,\s*", engine='python')
adult_data.head(10)
adult_data.count() # slow implementation to count the number of rows

age               32561
workclass         32561
fnlwgt            32561
education         32561
education-num     32561
marital-status    32561
occupation        32561
relationship      32561
race              32561
sex               32561
capital-gain      32561
capital-loss      32561
hours-per-week    32561
native-country    32561
income            32561
dtype: int64

# Data cleaning: Deletion

In [20]:
# Check missing values (in this dataset, missing values are marked with '?').
missing_values = adult_data == '?'

num_missing_per_row = missing_values.sum(axis=1)

# Set a limit for the maximum number of missing values per row.
threshold = 1

# Filter the DataFrame to keep only those rows that have 'threshold' or fewer missing values.
df_cleaned = adult_data[num_missing_per_row <= threshold]

print(f"Before cleaning: {adult_data.shape[0]} filas")
print(f"After cleaning: {df_cleaned.shape[0]} filas")

Before cleaning: 32561 filas
After cleaning: 30725 filas

In [18]:
# Sustituímos el índice original por uno regenerado
df_final = df_cleaned.reset_index(drop=True)
df_final.tail(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
30720,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30721,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30722,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30723,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30724,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Data cleaning: Imputation

In [30]:
from sklearn.impute import SimpleImputer

# Replace ? values for NaN
df_final.replace("?", np.nan, inplace=True)
df_final.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
# Impute missing values for categorical variables.
imputer_categorical = SimpleImputer(strategy='most_frequent')
for col in ['workclass', 'occupation', 'native-country']:
    df_final[col] = imputer_categorical.fit_transform(df_final[col].values.reshape(-1, 1))

# Impute missing values for numerical variables (if any)
imputer_numerical = SimpleImputer(strategy='mean')
for col in ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']:
    df_final[col] = imputer_numerical.fit_transform(df_final[col].values.reshape(-1, 1))

ValueError: 2

In [ ]:
df_final.head(30)

# Data Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le = LabelEncoder()

# Apply the encoding to the column 'income'
df_final['income_encoded'] = le.________(df_final['income'])

# To verify the changes.
print(df_final[['income', 'income_encoded']].head(100))

In [ ]:
# Rename the column
df_income = df_final._____(columns=['income'])
df_encoding = df_income.____(columns={'income_encoded': 'income'})
df_encoding.head(30)

# Data normalization

In [ ]:
# Importing the necessary libraries.
import _____ as _____
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

# Loading the wine dataset
wine = datasets._____()
df = pd.DataFrame(data=wine.data, columns=wine.feature_names)

# Showing dataset first columns.
df.head()

In [ ]:
# Histogram of a feature to visualize the original distribution.
plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
plt.hist(df['alcohol'], color='blue', bins=30)
plt.title('Distribución original de Alcohol')

# Normalizing the features.
scaler = _____()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# Histogram of the same feature after normalization.
plt.subplot(1, 2, 2)
plt.hist(df_normalized['alcohol'], color='green', bins=30)
plt.title('Distribución de Alcohol después de la Normalización')
plt.tight_layout()
plt.show()

In [ ]:
# Displaying the first rows of the normalized dataset
df_normalized.head()

# Data discretization

In [ ]:
# Loading the wine dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
column_names = ["Class", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash",
                "Magnesium", "Total phenols", "Flavanoids",
                "Nonflavanoid phenols", "Proanthocyanins", "Color intensity",
                "Hue", "OD280/OD315 of diluted wines", "Proline"]
wine_data = pd.read_csv(url, header=None, names=column_names)

# Defining the boundaries for the categories.
bins = [wine_data['Alcohol']._____, 12, 13, wine_data['Alcohol']._____]

# Labels for the categories.
labels = ["low", "medium", "high"]

# Creating the new column with the discretized categories.
wine_data['Alcohol_category'] = pd.cut(wine_data['Alcohol'], bins=bins, labels=labels, include_lowest=True)

In [ ]:
wine_data.head(50)

# Feature engineering

In [ ]:
# Color intensity-alcohol ratio
wine_data['Color_to_alcohol_ratio'] = ______ / _____
wine_data.head(30)

In [ ]:
# Magnesio-alcohol ratio
wine_data['Mg_to_Alcohol_ratio'] = _____ / _____
wine_data.head(30)

# Load

In [ ]:
# Installation and importation of necessary libraries
import ______

# Creating a connection to an SQLite database and loading data
conn = sqlite3._____('demo_etl.db')

# Load the dataframe into a new table called 'Personas'.
wine_data._____('Wines', conn, if_exists='replace', index=False)

# Query the database to verify that the data has been loaded correctly.
consulta = pd._____('SELECT * FROM Wines', conn)
consulta